{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-lg-13 col-xl-12">
    <div class="row">
      <div class="col-lg-10">
        <article class="post-content">
          {{ with .Params.headline -}}
            <h1>{{ . }}</h1>
          {{ else -}}
            <h1>{{ .Title }}</h1>
          {{ end -}}

          <p class="post-meta-row">
            {{ partial "main/post-meta.html" . }}
          </p>

          {{ .Content }}
        </article>
      </div>

      {{ if ne .Params.toc false -}}
        <div class="col-lg-4 d-none d-lg-block">
          <aside class="docs-toc">
            {{ partial "sidebar/docs-toc-desktop.html" . }}
          </aside>
        </div>
      {{ end -}}
    </div>
  </div>
</div>

{{ if ne .Params.toc false -}}
  {{ partial "sidebar/docs-toc-mobile.html" . }}
{{ end -}}
{{ end }}
